body {
    margin-left: 10px;
}

.website-title {
    font-size: 4em;
    text-align: center;
}

.first-image, .second-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bold {
    font-weight: 800;
}

.italics {
    font-style: italic;
}
/*
.website-desc {

}
*/